Hello <strong>{{ package.provider.username }}</strong> - your account is activated.
<div>
	<table class="table" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Category</th>
            <th>Image</th>
            <th>Video</th>
          </tr>
        </thead>
        <tbody>
        {% for item in items%}
          <tr>
            <td><h5>{{item.item}}</h5></td>
            <td><img src="/{{item.item.image}}"/></td>
            <td>
              <video width="250" height="240" controls>
                <source src="/{{item.item.video}}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>

</div>
